Importing Libraries

In [1]:
import numpy as np

In [2]:
import pandas as pd

Loading Data

In [6]:
data = pd.read_csv("/Users/macbook/Desktop/best_selling_artists.csv")
data

,s/n,Artist,ARTIST - FIXED,COUNTRY - FIXED,period_active,Year,Genre,TCU(millions),sales(millions)
0,1,The Beatles,THE BEATLES,UNITED STATES,1960–1970,1962.0,Rock / pop,290.4,NaN
1,2,Elvis Presley,ELVIS PRESLEY,UNITED STATES,1954 - 1977,1956.0,Rock and roll / pop / country,231.2,500.0
2,3,Michael Jackson,MICHAEL JACKSON,UNITED KINGDOM,1964 - 2009,1971.0,Pop / rock / dance / soul / R&B,277.3,400.0
3,4,Elton John,ELTON JOHN,UNITED STATES,1964 - present,1970.0,Pop / rock,208.0,NaN
4,5,Queen,QUEEN,UNITED STATES,1971 - present,1973.0,Rock,NaN,NaN
...,...,...,...,...,...,...,...,...,...
119,120,Kiss,KISS,United States,1972 - present,1974.0,Hard rock / heavy metal,28.7,75.0
120,121,Aretha Franklin,ARETHA FRANKLIN,United States,1956 - 2018,1961.0,Soul / jazz / blues / R&B,26.6,75.0
121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,Max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.0
123,Min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0

Data visualization

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   s/n              123 non-null    object
 1   Artist           121 non-null    object
 2   ARTIST - FIXED   121 non-null    object
 3   COUNTRY - FIXED  118 non-null    object
 4   period_active    121 non-null    object
 5   Year             121 non-null    float64
 6   Genre            121 non-null    object
 7   TCU(millions)    112 non-null    float64
 8   sales(millions)  105 non-null    float64
dtypes: float64(3), object(6)
memory usage: 8.8+ KB

In [8]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,121.0,1983.016529,16.231134,1940.0,1970.0,1981.0,1998.0,2015.00
TCU(millions),112.0,105.647937,77.344263,26.6,51.4,77.3,137.9,413.06
sales(millions),105.0,117.142857,69.149146,75.0,80.0,100.0,120.0,500.00

In [9]:
data.isnull().sum()

s/n                 1
Artist              3
ARTIST - FIXED      3
COUNTRY - FIXED     6
period_active       3
Year                3
Genre               3
TCU(millions)      12
sales(millions)    19
dtype: int64

In [11]:
data.dtypes

s/n                 object
Artist              object
ARTIST - FIXED      object
COUNTRY - FIXED     object
period_active       object
Year               float64
Genre               object
TCU(millions)      float64
sales(millions)    float64
dtype: object

In [12]:
data.size

1116